transformers
diffusers
git+https://github.com/openai/CLIP
torchmetrics
# pytorch-lightning==1.8.3.post0

easydict
numpy==1.23
tqdm
einops
opencv-python
timm
scikit-image
jsonmerge
clean-fid
resize_right
torchdiffeq
torchsde
ipywidgets

