transformers
diffusers
git+https://github.com/openai/CLIP
torchmetrics==0.10.3
pytorch-lightning==1.8.3.post0

easydict
numpy
tqdm
einops
opencv-python
timm
scikit-image
jsonmerge
clean-fid
resize_right
torchdiffeq
torchsde
ipywidgets

