transformers
git+https://github.com/huggingface/diffusers
git+https://github.com/openai/CLIP
torchmetrics
accelerate
peft

imageio-ffmpeg
easydict
numpy==1.23
tqdm
einops
opencv-python
timm
scikit-image
jsonmerge
clean-fid
resize_right
torchdiffeq
torchsde
ipywidgets

